<div class="container">
    <div class="market-logo">
        <img src="../../assets/market.PNG" height="63px" class="img-logo">
    </div>

    <div class="search-bar">
        <!-- <button class="btn-search"></button> -->
        <!-- <mat-form-field [floatLabel]="'never'" class="example-full-width">
            <input matInput placeholder="Search for..." >
        </mat-form-field> -->
        <div class="btn-logo">
            <button class="btn-search"></button>
        </div>
        <div class="search-input">
            <label>
              <input placeholder="Search for..." required>
            </label>
          </div>
    </div>

    <div class="topbar-links">

    </div>
</div>